#carousel h1 {
  color: black;
  display: block;
  display: inline-block;
}

.carousel h2 {
  color: #000000;
  margin-bottom: 20px;
}
.carousel__boton {
  background-color: #00aa1b;
  color: white;
  box-shadow: 5px 5px 10px 0px rgba(102, 99, 99, 0.5);
  border: none;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

#home__newsletter {
  display: grid;
  grid-template-areas: "newsletter datos";
  grid-template-columns: 60% 40%;
  padding-bottom: 40px;
}

.home__newsletter-text {
  display: flex;
  flex-direction: column;
}
.home__newsletter h2 {
  margin: 40px;
  padding-left: 40px;
  text-align: left;
  font-size: 50px;
}
.home__newsletter p {
  width: 80%;
  margin-left: 40px;
  padding-left: 40px;
  text-align: left;
  font-size: 20px;
  line-height: 2;
}
.home__newsletter-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home__newsletter-input {
  width: 350px;
  height: 40px;
  margin-top: 10%;
  border-radius: 5px;
  border: solid 1px #ced0da;
  transition: 0.5s;
}
.home__newsletter-input:focus {
  width: 350px;
  height: 40px;
  margin-top: 10%;
  border-radius: 5px;
  border: solid 2px #0c2ed8;
  background-color: rgb(240, 240, 253);
}
.home__newsletter-button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(180, 175, 175, 0.5);
  align-items: center;
  margin-top: 10%;
  margin-left: 15px;
}
.home__texto-nosotros {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  margin: 40px;
  align-items: center;
}
.home__texto-nosotros p {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}
.home__texto-nosotros h1 {
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

@media (max-width: 850px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .header__menu-ul {
    background: black;
    position: absolute;
    top: 40px;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 30px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    box-shadow: 5px 5px 10px 0px rgba(180, 175, 175, 0.5);
  }
  .header__menuHome, .header__menuNosotros, .header__menuTienda, .header__menuContactanos {
    text-decoration: none;
    padding-right: 5%;
    padding-top: 15px;
    color: black;
    padding: 5px;
  }
  .nav__input:checked + .header__menu-ul {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
}
@media screen and (max-width: 580px) {
  .footer__address,
  .footer__menu-ul,
  .footer__redes-ul {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  #home__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__newsletter-data {
    flex-direction: column;
  }
  .home__newsletter-input {
    width: auto;
  }
  .home__newsletter p {
    text-align: center;
  }
  .home__newsletter h2 {
    text-align: center;
  }
}/*# sourceMappingURL=home.css.map */