.contactanos {
  &__container {
    position: relative; /* Añade posición relativa para contener el pseudo-elemento */
    width: 100%;
    text-align: center;
  }

  &__container::before {
    content: "";
    background-image: url("../assets/fondo-productos.jpg");
    background-size: 100% 600px;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita que el pseudo-elemento sea interactivo */
  }

  &_h1 {
    height: 130px;
    @include flex-column-center;
    justify-content: center;
  }

  &__boton-enviar {
    @include boton-colores(#00aa1b, white);
    box-shadow: $box-shadow-botones;
    @include boton-grande;
  }
}

.formulario {
  &__nombre-li,
  &__apellido-li,
  &__email-li,
  &__comentario-li {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media (max-width: 800px) {
  .formulario {
    &__nombre-li,
    &__apellido-li,
    &__email-li,
    &__comentario-li {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}

.boton__container {
  @include flex-column-center;
}
